* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


header {
    background-color: #333;
    color: #ffffff;
    padding: 1rem 0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

header nav .logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;
}

header nav div a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
}

header nav div a:hover {
    color: #cccccc;
}

main {
    padding: 1.5rem 0;
}

.content {
    background-color: #ffffff;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-radius: 5px;
}

.content h1, .content h2 {
    margin-top: 0;
}


.login-box, .register-box {
    width: 100%;
    max-width: 400px;
    background: #ffffff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-box label, .register-box label {
    display: block;
    margin: 0.5rem 0;
}

.login-box input, .register-box input {
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.login-box button, .register-box input[type="submit"],
.login-box #register-button {
    display: inline-block;
    background: #333;
    color: #ffffff;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.login-box button:hover, .register-box input[type="submit"]:hover {
    background: #555;
}

.error-msg {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.2rem;
}

.error-with-labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}


footer p {
    margin: 0;
}

.login-box form {
    margin-bottom: 1rem;
}
