<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <nav>
        <a href="/" class="logo">Bank of Words</a>

        <div>
            <a th:unless="${username}" th:href="@{/login}">Login</a>
            <a th:unless="${username}" th:href="@{/register}">Register</a>
            <a th:if="${username}" th:href="@{/logout}">Log out</a>
        </div>
    </nav>
</header>
<main>

<h1>Welcome, <span th:text="${username}"></span>!</h1>
<p>This is the home page for a logged-in user.</p>
<p>Content specific to logged-in users can go here.</p>
<a href="/start">start</a>

</main>
<footer>
    <p>&copy; Bank of Words 2023</p>
</footer>
</body>
</html>