<div class="th-head" th:include="header"></div>

<div class="content">

<h1>Welcome to Bank of Words</h1>
<p>Bank of Words is a tool to help non-native speakers study and memorize foreign words. With our personal "bank of words," you can easily add new words and track your progress.</p>

<h2>Features</h2>
<ul>
    <li>Create a personal bank of words</li>
    <li>Receive a set of words for repeating every day</li>
    <li>Receive a set of new words from a book</li>
    <li>Track personal statistics and progress</li>
</ul>

<h2>Get Started</h2>
<p>To get started, simply create an account or log in to your existing account. From there, you can start adding new words and tracking your progress.</p>

</div>

<div class="th-foot" th:include="footer"></div>