<div th:include="header"></div>

<div class="container">
    <div class="login-box">
        <h1>Registration</h1>

        <form method="post" action="/register">
            <div class="form-group">
                <div class="error-with-labels">
                    <label for="username">Username:</label>
                    <div th:if="${usernameErrorClass}" class="error-msg" th:text="${usernameErrorClass}"></div>
                </div>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <div class="error-with-labels">
                    <label for="password">Password:</label>
                    <div th:if="${passwordErrorClass}" class="error-msg" th:text="${passwordErrorClass}"></div>
                </div>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form-group">
                <div class="error-with-labels">
                    <label for="email">Email:</label>
                    <div th:if="${emailErrorClass}" class="error-msg" th:text="${emailErrorClass}"></div>
                </div>
                <input type="email" id="email" name="email" required>
            </div>

            <input id="register-button" type="submit" value="Register">
        </form>
    </div>
</div>

<div th:include="footer"></div>
