<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="js/utils.js"></script>

</head>
<body>
<header>
    <nav>
        <a href="/" class="logo">Bank of Words</a>
    </nav>
</header>
<main>
    <div class="container">
        <div class="content">
            <h2>Guess the Correct Word:</h2>
            <p th:text="${correct.definition}"></p>


            <h3>Possible Choices:</h3>
            <div id="choices">
                <ul id="c-list">
                    <li th:each="choice : ${choices}">
                        <a onclick="checkAnswer(this.innerText);"><span th:text="${choice.word}"></span></a>
                    </li>
                </ul>
            </div>

            <button type="button" id="nextQuestion" onclick="skipQuestion()">Skip</button>

            <div id="result" style="display: none;"></div>
            <div id="correctWord" th:text="${correct.word}" style="display: none;"></div>


        </div>
    </div>
</main>
<footer>
    <p>&copy; Bank of Words 2023</p>
</footer>
</body>
</html>
